        <!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><h4><strong>Book Loan</strong></h4> </div>
    <div class="list-group list-group-flush">
        <a href="/Dashboard/Index" class="list-group-item list-group-item-action bg-light"><strong>Dashboard</strong></a>
        <a href="/Genre/Index" class="list-group-item list-group-item-action bg-light"><strong>Genre Operations</strong></a>
        <a href="/Author/Index" class="list-group-item list-group-item-action bg-light"><strong>Author Operations</strong></a>
        <a href="/Book/Index" class="list-group-item list-group-item-action bg-light">
            <strong>Book Operations
            <span class="badge badge-info right"style="background-color:red">@TempData["TotalBooks"]</span>
            </strong>
        </a>
        <a href="/LoanOperation/Index" class="list-group-item list-group-item-action bg-light"><strong>Loan Operations</strong></a>
        <a href="/Customer/Index" class="list-group-item list-group-item-action bg-light"><strong>Customer Operations</strong></a>
        <a href="/Personnel/Index" class="list-group-item list-group-item-action bg-light"><strong>Personnel Operations</strong></a>
    </div>
</div>
<!-- /#sidebar-wrapper -->
