
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
        <br />
    }

    @Html.ActionLink("New Loan Operation", "Add", "LoanOperation", null, new { @class = "btn btn-sm btn-primary", @style = "margin:5px" })

}
